body {
  font: arial;
  background-color: black;
}
h1 {
  font-size: 50px;
  color: white;
  text-align: center;
  margin-top: 50px;
}
.key-elements {
  text-align: center;
  margin-top: 50px;
}
input {
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border: 3px solid white;
  padding: 5px;
  font-size: 20px;
  margin-right: 20px;
}
.Submit-button {
  color: white;
  width: 100px;
  height: 55px;
  border-radius: 5px;
  border: 3px solid white;
  background-color: #33b249;
  font-size: 20px;
  margin-top: 20px;
}
.Submit-button:hover {
  background-color: #4aa75a;
  color: black;
  transition: 0.5ms;
}
.js-todo-list-style {
  font-size: 25px;
  margin-top: 50px;
  margin-left: 100px;
  color: white;
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.Delete-button-style {
  color: white;
  width: 100px;
  height: 45px;
  border-radius: 5px;
  border: 3px solid white;
  background-color: rgb(239, 76, 76);
  font-size: 16px;
  align-items: center;
}

.Delete-button-style:hover {
  color: black;
  background-color: rgb(255, 0, 0);
  font-size: 16px;
  align-items: center;
}
